@{
    ViewBag.Title = "CreateNewThread";
}

<h2>CreateNewThread</h2>
<p>Thread created!</p>
@Html.ActionLink("Go back to threads", "ShowAllThreads", "ShowAllThreads", new { id = ViewData["id"] }, null);