@{
    ViewBag.Title = "CreateNewSubForum";
}

<h2>CreateNewSubForum</h2>

@Html.ActionLink("Go Back to Sub Forum Page", "ShowAllSubForums", "ShowAllSubForums", new { id = ViewData["subForumParent"] }, null);  